
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

body {
    font-family: 'Arimo', sans-serif;
    background-image: url("site images/input image.jpg");
    overflow-x: hidden;
    overflow-y: hidden;
    background-size: cover;
}

.nav{
    background-color:black;  
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
}
ul{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding:0;
}
li{
    display: flex;
    justify-content: center;
}

#contractor{
    font-family: 'Lato';
    color: rgb(252, 250, 247); 
}


.main{

    margin:  10px;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../contractorimages/1.jpg");
    background-size: cover;
    border: 4px solid black;
    width: 40vw;
    border-radius: 100px;
}

.maincenter{

    display: inline-block;
}


#hamburg{
    height: 50px;
    color: red;
}



#cloudlabel{

    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: white;
    border: 2px solid grey;
    padding: 10px;
    border-radius: 10px;

}

#cloudlabel:hover{

    background-color: grey;
    border: 2px solid white;
    cursor: pointer;

}

#cloudlogo{
    padding-left: 2px;
}
#person{
    color:white;
    height:50px;
    width: 50px;
}
#person:hover{
    border-bottom: 3px solid green;
    cursor: pointer;
}

#hamburg:hover{
    border-bottom: 3px solid green;
    cursor: pointer;
}

#stepone{
    display: flex;
    padding: 10px;
    justify-content: center;
    background: rgb(225, 7, 7, .9);
    color: white;
    text-shadow:  2px 2px 0px black;
    border-radius: 100px;
    font-family: 'Lato';
}

#insertimage{

    display: flex;
    justify-content: center;
}
html,body{
    padding: 0px;
    margin: 0px;
}


