
:root{

    background-color: black;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
    
}

.background::before{
    
    min-width: 100%;
    min-height: 100vh;
    content: "";
    background-image: url("site images/websitebackground.jpg");
    width: 100%;
   
    background-position: center;  
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
    display: flex;
    opacity: 40%;
    position: absolute;

}


#nav{

    position: relative;
    background-color: rgb(255, 255, 255, 0.6);
    width: 100%px;
    height: 65px;

}
#hamburg{

    font-size: 40px;
    position: absolute;
    margin-left: 10px;
    margin-top: 5px;
    color: white;

}

.centernav{

    position: relative;
    width: 100%px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: white;

}

.item{

  position: absolute;
  width: 100px;
  height: 100px;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;

}
.one {
  color: white;
  z-index: 2;
  transform: translateX(156px);
}

.two {
  color: black;
  z-index: 1;
  transform: translateX(-156px);
  
 
}

#centernavb{

    width: 100%;
    height: 65px;
    position: relative;
    font-size: 50px;
    color: black;
    
    
}
#hamburgb{

    font-size: 40px;
    position: absolute;
    margin-left: 8px;
    margin-top: 6px;
    color: black;

}
#hamburg:hover{

    margin-left: 8px;
    margin-top: 6px;
    cursor:pointer;

}

.flex{
    display: "flex";
}

html, body{
    padding: 0;
    margin: 0;
}




