
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

body {
  font-family: 'Arimo', sans-serif;
}
:root{

    background-color: black;
    margin: 0px;
    padding: 0px;
    
    overflow-x: hidden;
    overflow-y: hidden;
    
}

.background::before {
  content: "";
  position: fixed; /* fixed so it stays while scrolling */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("site images/websitebackground.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;

}

#nav::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color:black;
  opacity: .8;
  z-index: 0; 
  flex-direction: column;
}

#contractor{

    font-family: 'Lato';
    display: flex;
    text-transform: uppercase;
    opacity: 90%;
    justify-content: center;
    align-items: center;
    color: blanchedalmond;
}


#hamburg{

    position: fixed;
    font-size: 40px;
    margin-left: 15px; 
    margin-top: -11px;
    color: white;
    z-index: 1;
    
    
}

#person{ 
    
    position: fixed;
    display: flex;
    justify-content: right;
    left: 95vw;
    top: 17px;
}
#person:hover{

    fill: blanchedalmond;
    cursor: pointer;

}


#hamburg:hover{
   
    margin-top: -10px;
    color: blanchedalmond;
    cursor: pointer;

}

html, body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
}




