
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

body {
    font-family: 'Arimo', sans-serif;
    background-image: url("site images/websitebackground.jpg");
    overflow-x: hidden;
    overflow-y: hidden;
    background-size: cover;

}

.main{

    width: 200px;
    background-color: white;
    border-radius: 100px;
    display: absolute;
    margin-top: 40vh;
    margin-left: 45vw;

}



#nav::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color:black;
  opacity: .8;
  z-index: 0; 
  flex-direction: column;
}

#contractor{

    font-family: 'Lato';
    display: flex;
    text-transform: uppercase;
    opacity: 99%;
    justify-content: center;
    align-items: center;
    color: rgb(252, 250, 247);
    border-bottom: 1px solid white; 
    padding-bottom: 12px;
   
}


#hamburg{

    position: fixed;
    font-size: 40px;
    margin-left: 15px; 
    margin-top: -11px;
    color: white;
    z-index: 1;
    
    
}

#person{ 
    
    position: fixed;
    display: flex;
    justify-content: right;
    left: 95vw;
    top: 17px;
}
#person:hover{

    fill: blanchedalmond;
    cursor: pointer;

}


#hamburg:hover{
   
    margin-top: -10px;
    color: blanchedalmond;
    cursor: pointer;

}

html, body{
    padding: 0;
    margin: 0;
  
}




