
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

body {
    font-family: 'Arimo', sans-serif;
    background-image: url("site images/input image.jpg");
    overflow-x: hidden;
    background-size: cover;
    background-color: black;
}


.notnav{
    display: flex;
}


.nav{
    background-color:black;  
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
}
nav ul{
    
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding:0;
}
nav li{
    display: flex;
    justify-content: center;
}


.main{
    
    margin:  10px;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../contractorimages/1.jpg");
    background-size: cover;
    border: 4px solid black;
    width: 40vw;
    border-radius: 100px;
}

.maincenter{
    display: inline-block;
}

.step2{
    margin: 10px;
    padding : 5px;
    display: flex;
    align-items: center;
    width : 40vw;
    height: 50px;
    list-style: none;
    justify-content: space-between;
    
    
}

.right{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    margin-left: 100px;
    background-color: blue;
    width: 100vw;
    border-radius: 100px;

}

#submitfield{
    display: flex;
    justify-content: center;
    margin: 20px;
}

#hamburg{
    height: 50px;
    color: red;
}

#contractor{
    font-family: 'Lato';
    color: rgb(252, 250, 247); 
}

#cloudlabel{

    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: white;
    border: 2px solid grey;
    padding: 10px;
    border-radius: 10px;

}

#cloudlabel:hover{

    background-color: grey;
    border: 2px solid white;
    cursor: pointer;

}

#cloudlogo{
    padding-left: 2px;
}
#person{
    color:white;
    height:50px;
    width: 50px;
}
#person:hover{
    border-bottom: 3px solid rgba(225, 7, 7, 0.9);
    cursor: pointer;
}

#hamburg:hover{
    border-bottom: 3px solid rgba(225, 7, 7, 0.9);
    cursor: pointer;
}

.stepone{
    display: flex;
    padding: 10px;
    margin: 10px;
    justify-content: center;
    background: rgba(225, 7, 7, 0.9);
    color: white;
    text-shadow:  2px 2px 0px black;
    border-radius: 100px;
    font-family: 'Lato';
}


#jobsearch{

  padding: 10px 15px;
  border-radius: 10px;
  border: 2px solid white;
  background-color: black;
  color: white;
  font-family: 'Arimo', sans-serif;
  font-size: 16px;

}

#jobsearch:hover{
    cursor: pointer;
}

#buttonlabel{
    border: 2px solid black;
    margin: 10px;
    display: flex;
    justify-content: center;
    width: 90%;
    padding: 2px;
    border-radius: 10px;
    background-color: rgba(225, 7, 7, 0.9);
    border: 2px solid rgba(225, 7, 7, 0.9); /* indigo */
    box-shadow: 0 0 20px rgba(225, 7, 7, 0.9);
    border-radius: 8px;
    border: 1px solid black;

}
.button{

    text-shadow:  2px 2px 0px black;
    color: white;
    font-family: 'lato';
    
    
}

.displaystats{
    display: flex;
    padding-left: 0px;
    width: 80%;
    list-style: none;justify-content: space-between;
    background-color: rebeccapurple;
}
.licla{
    background-color: red;
    text-align: center;
}

#buttonlabel:hover{

    box-shadow: 0 0 12px black;
    cursor: pointer;

}
#numberinput{
    width:100px;
    padding: 12px 18px;              
    border-radius: 10px;             
    border: 2px solid white;           
    background-color: black;         
    color: white;                     
    font-family: 'Arimo', sans-serif;
    font-size: 16px;
    width: 120px;                    
    text-align: center;    
}
#numberinput::placeholder{
    color: white;

}
#insertimage{
    display: flex;
    justify-content: center;
}
html,body{
    padding: 0px;
    margin: 0px;
}


