
:root{

    background-color: black;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    
}

.background{
    
    min-width: 100%;
    min-height: 100vh;
    background-image: url("site images/websitebackground.jpg"); ;

    background-size: cover; 
    background-position: center;  
    background-repeat: no-repeat;
    background-attachment: fixed;
    

    display: flex;
    flex-direction: column;      
    justify-content: center;      
    align-items: center; 
    opacity: 40%;

}

.MainHeader{

    display: inline-flex;
    height: 100px;
    width: 100%;
    
}

.flex{

    display: "flex";
}

html, body{
    padding: 0;
    margin: 0;
}




