
/* css file for main*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

body {
    font-family: 'Arimo', sans-serif;
    overflow-x: hidden;
    background-size: cover;
    background-position: center;
    background-color: white;
}

#firstsection{
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("site images/registerpageimage.jpeg");
    background-position: center -50px;
    height: 700px;
    
    
}


.notnav{
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    opacity: 0;
    animation: fadeUp 1s ease-out 1s forwards;
}

#estimateform{
    
    display: flex;
    
    align-items: center;
    padding: 2px;
    margin: 10px;
    width: 100%;
    
    
}

nav{
    height: 100px;
    background: linear-gradient(
    to bottom,
    rgba(0,0,0,1) 0%,
    rgba(0,0,0,0.95) 40%,
    rgba(0,0,0,0.85) 60%,
    rgba(0,0,0,0.6) 75%,
    rgba(0,0,0,0.3) 90%,
    rgba(0,0,0,0) 100%
);
   

}
.nav{
    
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
    
}
nav ul{
    
    
    width: 100%;
    justify-content: space-between;
    padding:0px;
}
nav li{
    display: flex;
    justify-content: center;
}

.nav-center{
    z-index: 1;
    display: inline-block;
    position: relative;
   

    

}


.main{
    
    margin:  10px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100px;
    border: 4px dashed black;
    background-color:rgba(25, 225, 7, 0.2);
    width: 320px;

}



.maincenter{
    display: inline-block;
    
}

.step2{
    margin: 0px;
    padding : 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width :inherit;
    height: 50px;
    list-style: none;
    justify-content: center;
    
    
}

.right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
    margin-top: 10px;
    

}


#submitfield{
    display: flex;
    justify-content: center;
    margin: 20px;
}

#lef{
    height:45px;
    margin-left: 188px;
    margin-top: -5px;
    background-color: transparent;
}

#contractor{
    font-family: 'Baloo 2', sans-serif;
    font-weight: 800;
    position: absolute;
    top: -25px;
    left:20px;
    color: #F0F1F1;
    font-size: 30px;
    text-shadow: 1px 1px #6CA173

}

#cloudlabel{

    height:20px;
    width: 200px;
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0,.8);
    background-color: white;
    padding: 10px;
    border-radius: 100px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 18px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
}


#cloudlabel:hover{

    box-shadow: 0 0 20px rgba(2, 2, 2, 0.9);
    cursor: pointer;
    background-color: grey;

}

#cloudlogo{
    padding-right: 15px;
}
#person{
    margin-right: 15px;
    color: rgb(255, 255, 255);
    height:50px;
    width: 50px;
}
#person:hover{
    border-bottom: 3px solid rgba(25, 225, 7, 0.5);
    cursor: pointer;
}

#hamburg:hover{
    border-bottom: 3px solid rgba(25, 225, 7, 0.5);
    cursor: pointer;
}

.stepone{
    display: flex;
    padding: 10px;
    margin: 10px;
    justify-content: center;
    background: rgba(25, 225, 7, 0.5);
    color: white;
    text-shadow:  2px 2px 0px black;
    border-radius: 100px;
    font-family: 'Lato';
}

.steponenobg{
  display: flex;
    padding: 10px;
    margin: 10px;
    justify-content: center;
    color: white;
    text-shadow:  2px 2px 0px black;
    border-radius: 100px;
    font-family: 'Lato';


}

.text{
   color: black;
   font-family: 'Lato'; 
   border-radius: 8px;
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
   padding: 5px;
   margin: 0px;
   width: 70%;
   font-size: 20px;

}
.textt{
   color: black;
   font-family: 'Lato'; 
   border-radius: 8px;
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
   padding: 5px;
   margin: 0px;
   width: 100%;
   font-size: 50px;
   font-weight: 800;
   display: flex;
   justify-content: center;

   border-bottom: 2px solid rgba(25, 225, 7, 0.5);


}

.textsh{
   color: white;
   text-shadow:  1px qpx 0px rgba(25, 225, 7, 0.5);
   font-family: 'Baloo 2', sans-serif;
   font-size: 25px; 
   font-weight: 600;
}



#jobsearch{

  position: relative;
  border: 4px solid black;
  background-color: white;
  border-radius: 100px;
  height:50px;
  color: black;
  width: 170px ;
  font-family: 'Arimo', sans-serif;
  font-size: 15px;
  padding-left: 15px;
  margin: 5px;
  

}

#jobsearch:focus{
    cursor: pointer;
    background-color:grey;
}
#jobsearch:hover{
    box-shadow: 0 0 20px rgba(2, 2, 2, 0.9);
    cursor: pointer;
    background-color: grey;
}

@keyframes pulseGlow {
  0% { box-shadow: 0 0 5px rgba(0,255,255,0.3); }
  50% { box-shadow: 0 0 20px rgba(0,255,255,0.9); }
  100% { box-shadow: 0 0 5px rgba(0,255,255,0.3); }
}
#buttonlabel{
    align-items: center;
    height: 50px;
    
    margin: 0px;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1px;
    background-color: black;
    border: 2px solid rgba(25, 225, 7, 0.5); 
    border: 1px solid black;

}

#words{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 650;
    font-size: 40px;
    margin-top: 120px;
    margin-left: 40px;
    margin-bottom: 0px;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px black;
    animation: fadeUp 2s forwards;


}
@keyframes fadeUp {
  0% { opacity: 0; transform: translateY(20px); }
  100% { opacity: 1; transform: translateY(0); }
}
#pen{
    color: black;
}
#buttonlabel:hover{
    box-shadow: 0 0 12px black;
    border:2px solid white;
    cursor: pointer;
}

#reportbutton{
    opacity: 0%;
    margin-left: 10px;
    border: 2px solid blanck;  
    width: 100%;
    border-radius: 8px;
    border: 1px solid black;
    background-color: black;
    box-shadow: rgba(45, 247, 0, 0.9);
    margin-top: 50px;
    pointer-events: none;
    animation: backgroundglow 1s  ease-out infinite;
    
    
}

#reportbutton:hover{

    border: 2px solid white;
    box-shadow: 0 0 12px rgb(0, 0, 0);
    animation: none;
    cursor: pointer;
    

}
@keyframes backgroundglow {


  0% { box-shadow: 0 0 10px rgba(0, 0, 0);border: 2px solid black;}

  50% { box-shadow: 0 0 30px rgba(45, 247, 0, 0.9); border: 2px solid black;}
  100% { box-shadow: 0 0 10px rgba(0, 0, 0); border: 2px solid black;}



}
.button{

    text-shadow:  2px 2px 0px black;
    color: white;
    font-family: 'lato';
    
    
}


.displaystats{
    display: flex;
    padding-left: 0px;
    list-style: none;
}
.licla{
    display: flex;
    flex-direction: column;
    margin :10px
}


.picss{
    height: 200px;
    width: 350px;
}
#hourglasspic{
    height: 100px;
    width: 50px; 

}

#woodpic{
    height: 100px;
    width: 150px;

}

#numberinput {
    width: 132px;
    margin: 2px;
    padding: 12px 18px;
    border-radius: 100px;
    border: 4px solid black;
    background-color: rgb(255, 255, 255);
    color: black;                 
    font-family: 'Arimo', sans-serif;
    font-size: 15px;
    text-align: center;
    line-height: 1.2;  
}

#numberinput::placeholder{
    color: black;
}

#numberinput:hover{
    cursor: pointer;
    background-color: grey;
    box-shadow: 0 0 20px rgba(2, 2, 2, 0.9);
   
}

#imge{
    position: absolute;
    z-index: -1;
    top: -100px;
    left: -128px;
    height: 400px;
    width: 500px;
    margin: 0;
    animation: picture .5s ease-out infinite;
    display: none;
    
    
    
}

@keyframes picture {

    0%{ top: -100px;left:-128px;height: 400px;width: 500px;}

    50%{ top: -109px;left:-140px;height: 425px;width: 525px;}

    100%{ top: -100px;left:-128px;height: 400px;width: 500px;}
    
}

#insertimage{
    display: flex;
    justify-content: center;
}

#log{

    height:40px;

}

#sub{
    background-color: none;
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: linear-gradient(
        to top,
        rgba(0,0,0,1) 0%,
        rgba(0,0,0,0.95) 40%,
        rgba(0,0,0,0.85) 60%,
        rgba(0,0,0,0.6) 75%,
        rgba(0,0,0,0.3) 90%,
        rgba(0,0,0,0) 100%
    );

  color: white;
  margin-top: 2rem;
  margin: 0px;
  height: 100px;
}

#loginlogo{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:18px;
    right: 35px;
    background-color: rgba(25, 225, 7, 0.5);
    border-radius: 200px;
    width: 50px;
    height:50px;
    opacity: 0;
    pointer-events: none;
    border: 2px solid rgb(21, 175, 4);

}
#loginlogo:hover{
    box-shadow: 0 0 20px rgb(21, 175, 4);
    border: 2px solid blanchedalmond;
    cursor: pointer;
}
#initial{
    font-size: 30px;
    font-weight: 800;
    color:white;
    text-shadow: 2px 2px #000000 ;
 

}

#popup{

    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 10px;
    position:fixed;
    width: 300px;
    height: 50px;
    right: -1px;
    top: 60px;
    
   
}
.poplink{
    
    pointer-events: none;
    font-family: 'Baloo 2', sans-serif;
    font-weight: 800;
    margin: 10px;
    background-color:  rgba(0, 0, 0, 0.5);
    border: 1px solid black;
    text-shadow: 1px 1px  black;
    color: white;
    padding: 4px;
    border-radius: 2px;
    text-decoration: none;
}
.poplink:hover{
    background-color: black;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    transform: translateY(-1px);
    cursor: pointer;
}

html,body{
    
    padding: 0px;
    margin: 0px;
}


