
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

body {
    font-family: 'Arimo', sans-serif;
    background-image: url("site images/input image.jpg");
    overflow-x: hidden;
    background-size: cover;
    background-color: black;
    background-position: center;

}


.notnav{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.nav{
    background-color:black;  
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    
}
nav ul{
    
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding:0px;
}
nav li{
    display: flex;
    justify-content: center;
}


.main{
    
    margin:  10px;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("contractorimages/1.jpg");
    background-size: cover;
    border: 4px solid black;
    width: 40vw;
    border-radius: 100px;
}

.maincenter{
    display: inline-block;
}

.step2{
    margin: 10px;
    padding : 5px;
    display: flex;
    align-items: center;
    width : 40vw;
    height: 50px;
    list-style: none;
    justify-content: space-between;
    
    
}

.right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    border-radius: 100px;

}


#submitfield{
    display: flex;
    justify-content: center;
    margin: 20px;
}

#hamburg{
    height: 50px;
    color: red;
}

#contractor{
    font-family: 'Lato';
    color: rgb(252, 250, 247); 
}

#cloudlabel{

    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: white;
    border: 2px solid grey;
    padding: 10px;
    border-radius: 10px;

}


#cloudlabel:hover{
    box-shadow: 0 0 20px rgba(2, 2, 2, 0.9);
    border: 2px solid white;
    cursor: pointer;
    background-color: grey;

}

#cloudlogo{
    padding-left: 2px;
}
#person{
    color: white;
    height:50px;
    width: 50px;
}
#person:hover{
    border-bottom: 3px solid rgba(25, 225, 7, 0.5);
    cursor: pointer;
}

#hamburg:hover{
    border-bottom: 3px solid rgba(25, 225, 7, 0.5);
    cursor: pointer;
}

.stepone{
    display: flex;
    padding: 10px;
    margin: 10px;
    justify-content: center;
    background: rgba(25, 225, 7, 0.5);
    color: white;
    text-shadow:  2px 2px 0px black;
    border-radius: 100px;
    font-family: 'Lato';
}

.steponenobg{
  display: flex;
    padding: 10px;
    margin: 10px;
    justify-content: center;
    color: white;
    text-shadow:  2px 2px 0px black;
    border-radius: 100px;
    font-family: 'Lato';


}

.text{
   color: rgb(250, 252, 250);
   text-shadow:  2px 2px 0px black;
   font-family: 'Lato'; 
   border-radius: 8px;
   border: 1px solid black;
   background-color: rgba(25, 225, 7, 0.5);
   padding: 5px;
   margin: 10px;
   width: 70%;

}

.textsh{
   color: rgb(250, 252, 250);
   text-shadow:  2px 2px 0px black;
   font-family: 'Lato';  
}

#timeoutput{
    display: flex;
    justify-content: center;

}

#jobsearch{

  padding: 10px 15px;
  border-radius: 10px;
  border: 2px solid white;
  background-color: black;
  color: white;
  font-family: 'Arimo', sans-serif;
  font-size: 14px;
  animation: pulseGlow 2s infinite;

}

#jobsearch:hover{
    cursor: pointer;
    background-color: rgba(25, 225, 7, 0.5);;
}

@keyframes pulseGlow {
  0% { box-shadow: 0 0 5px rgba(0,255,255,0.3); }
  50% { box-shadow: 0 0 20px rgba(0,255,255,0.9); }
  100% { box-shadow: 0 0 5px rgba(0,255,255,0.3); }
}
#buttonlabel{
    border: 2px solid black;
    margin: 10px;
    display: flex;
    justify-content: center;
    width: 90%;
    padding: 2px;
    border-radius: 10px;
    background-color: rgba(25, 225, 7, 0.5);
    border: 2px solid rgba(25, 225, 7, 0.5); 
    box-shadow: 0 0 20px rgba(25, 225, 7, 0.5);
    border-radius: 8px;
    border: 1px solid black;

}
#buttonlabel:hover{
    box-shadow: 0 0 12px black;
    cursor: pointer;
}

#reportbutton{
    opacity: 0%;
    border: 2px solid rgba(25, 225, 7, 0.5);  
    box-shadow: 0 0 20px rgba(25, 225, 7, 0.5);
    border-radius: 8px;
    border: 1px solid black;
    background-color: rgba(25, 225, 7, 0.5);
    margin-top: 50px;
    pointer-events: none;
    
}
#rlink{
    pointer-events: none;
}
#reportbutton:hover{

    box-shadow: 0 0 12px black;
    cursor: pointer;

}
.button{

    text-shadow:  2px 2px 0px black;
    color: white;
    font-family: 'lato';
    
    
}


.displaystats{
    display: flex;
    padding-left: 0px;
    width: 80%;
    list-style: none;justify-content: space-between;
    
}
.licla{
    display: flex;
    flex-direction: column;
    align-items: center;
}


#moneypic{
    height: 100px;
    width: 150px;
}
#hourglasspic{
    height: 100px;
    width: 50px; 

}

#woodpic{
    height: 100px;
    width: 150px;

}
#numberinput{
    animation: pulseGlow 2s infinite;
    width:100px;
    padding: 12px 18px;              
    border-radius: 10px;             
    border: 2px solid white;           
    background-color: black;         
    color: white;                     
    font-family: 'Arimo', sans-serif;
    font-size: 14px;
    width: 120px;                    
    text-align: center;    
    
}
#numberinput::placeholder{
    color: white;

}

#numberinput:hover{
    cursor: pointer;
    background-color: rgba(25, 225, 7, 0.5);;

}
#insertimage{
    display: flex;
    justify-content: center;
}

#sub{
    background-color: none;
}
html,body{
    padding: 0px;
    margin: 0px;
}


