
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

body {
    font-family: 'Arimo', sans-serif;
    overflow-x: hidden;
    background-size: cover;
    background-position: center;
    background-color: black;
}

#firstsection{
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("site images/registerpageimage.jpeg");
    background-position: center -50px;
    height: 700px;
    
    
}




.notnav{
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    

}

#estimateform{
    
    display: flex;
    
    align-items: center;
    padding: 2px;
    margin: 10px;
    width: 100%;
    
    
}

nav{
    height: 100px;
    background: linear-gradient(
    to bottom,
    rgba(0,0,0,1) 0%,
    rgba(0,0,0,0.95) 40%,
    rgba(0,0,0,0.85) 60%,
    rgba(0,0,0,0.6) 75%,
    rgba(0,0,0,0.3) 90%,
    rgba(0,0,0,0) 100%
);

}
.nav{
    
    
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
    
}
nav ul{
    
    
    width: 100%;
    justify-content: space-between;
    padding:0px;
}
nav li{
    display: flex;
    justify-content: center;
}

.nav-center{
    z-index: 1;
    display: inline-block;
    position: relative;
   

    

}


.main{
    
    margin:  10px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 4px dashed black;
    border-radius: 100px;
    background-color:rgba(25, 225, 7, 0.2);
    width: px;

}



.maincenter{
    display: inline-block;
    
}

.step2{
    margin: 0px;
    padding : 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width :inherit;
    height: 50px;
    list-style: none;
    justify-content: center;
    
    
}

.right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
    margin-top: 10px;
    

}


#submitfield{
    display: flex;
    justify-content: center;
    margin: 20px;
}

#lef{
    height:45px;
    margin-left: 188px;
    margin-top: -5px;
    background-color: transparent;
}

#contractor{
    font-family: 'Baloo 2', sans-serif;
    font-weight: 800;
    position: absolute;
    top: -25px;
    left:20px;
    color: #F0F1F1;
    font-size: 30px;
    text-shadow: 1px 1px #6CA173

}

#cloudlabel{

    height:20px;
    width: 200px;
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0,.8);
    background-color: white;
    padding: 10px;
    border-radius: 100px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 18px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
}


#cloudlabel:hover{

    box-shadow: 0 0 20px rgba(2, 2, 2, 0.9);
    cursor: pointer;
    background-color: grey;

}

#cloudlogo{
    padding-right: 15px;
}
#person{
    
    color: rgb(255, 255, 255);
    height:50px;
    width: 50px;
}
#person:hover{
    border-bottom: 3px solid rgba(25, 225, 7, 0.5);
    cursor: pointer;
}

#hamburg:hover{
    border-bottom: 3px solid rgba(25, 225, 7, 0.5);
    cursor: pointer;
}

.stepone{
    display: flex;
    padding: 10px;
    margin: 10px;
    justify-content: center;
    background: rgba(25, 225, 7, 0.5);
    color: white;
    text-shadow:  2px 2px 0px black;
    border-radius: 100px;
    font-family: 'Lato';
}

.steponenobg{
  display: flex;
    padding: 10px;
    margin: 10px;
    justify-content: center;
    color: white;
    text-shadow:  2px 2px 0px black;
    border-radius: 100px;
    font-family: 'Lato';


}

.text{
   color: rgb(250, 252, 250);
   text-shadow:  2px 2px 0px black;
   font-family: 'Lato'; 
   border-radius: 8px;
   border: 1px solid black;
   background-color: rgba(25, 225, 7, 0.5);
   padding: 5px;
   margin: 10px;
   width: 70%;

}

.textsh{
   color: rgb(250, 252, 250);
   text-shadow:  2px 2px 0px black;
   font-family: 'Lato';  
}

#timeoutput{
    display: flex;
    justify-content: center;

}


#jobsearch{

  position: relative;
  border: 4px solid black;
  background-color: rgba(25, 225, 7, 0.2);
  border-radius: 100px;
  height:50px;
  color: white;
  width: 170px ;
  font-family: 'Arimo', sans-serif;
  font-size: 15px;
  padding-left: 15px;
  margin: 5px;
  

}

#jobsearch:focus{
    cursor: pointer;
    background-color: black;
}
#jobsearch:hover{
    cursor: pointer;
    background-color: black;
}

@keyframes pulseGlow {
  0% { box-shadow: 0 0 5px rgba(0,255,255,0.3); }
  50% { box-shadow: 0 0 20px rgba(0,255,255,0.9); }
  100% { box-shadow: 0 0 5px rgba(0,255,255,0.3); }
}
#buttonlabel{
    align-items: center;
    height: 50px;
    border: 2px solid black;
    margin: 0px;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1px;
    background-color: black;
    border: 2px solid rgba(25, 225, 7, 0.5); 
    border: 1px solid black;

}

#words{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 650;
    font-size: 40px;
    margin-top: 120px;
    margin-left: 40px;
    margin-bottom: 0px;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px black;


}
#pen{
    color: black;
}
#buttonlabel:hover{
    box-shadow: 0 0 12px black;
    cursor: pointer;
}

#reportbutton{
    opacity: 0%;
    border: 2px solid rgba(25, 225, 7, 0.5);  
    box-shadow: 0 0 20px rgba(25, 225, 7, 0.5);
    border-radius: 8px;
    border: 1px solid black;
    background-color: rgba(25, 225, 7, 0.5);
    margin-top: 50px;
    pointer-events: none;
    
}
#rlink{
    pointer-events: none;
}
#reportbutton:hover{

    box-shadow: 0 0 12px black;
    cursor: pointer;

}
.button{

    text-shadow:  2px 2px 0px black;
    color: white;
    font-family: 'lato';
    
    
}


.displaystats{
    display: flex;
    padding-left: 0px;
    list-style: none;
}
.licla{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin :10px
}


.picss{
    height: 200px;
    width: 350px;
}
#hourglasspic{
    height: 100px;
    width: 50px; 

}

#woodpic{
    height: 100px;
    width: 150px;

}
#whi{

    color: white;
}
#numberinput {
    width: 132px;
    margin: 2px;
    padding: 12px 18px;
    border-radius: 100px;
    border: 4px solid black;
    background-color: rgba(25, 225, 7, 0.2);
    color: white;                 
    font-family: 'Arimo', sans-serif;
    font-size: 15px;
    text-align: center;
    line-height: 1.2;  
}

#numberinput::placeholder{
    color: white;
}
#imge{
    position: absolute;
    z-index: -1;
    top: -100px;
    left: -128px;
    height: 400px;
    width: 500px;
    margin: 0;
    animation: picture .5s ease-out infinite;
    display: none;
    
    
    
}

@keyframes picture {

    0%{ top: -100px;left:-128px;height: 400px;width: 500px;}

    50%{ top: -109px;left:-140px;height: 425px;width: 525px;}

    100%{ top: -100px;left:-128px;height: 400px;width: 500px;}
    
}
#numberinput:hover{
    cursor: pointer;
    background-color: black;
   

}
#insertimage{
    display: flex;
    justify-content: center;
}

#log{

    height:40px;

}

#sub{
    background-color: none;
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: white;
  color: black;
  margin-top: 2rem;
  margin: 0px;
  height: 100px;
}

html,body{
    
    padding: 0px;
    margin: 0px;
}


