
body {
  font-family: 'Arimo', sans-serif;
  background-color: #f5f6fa;
  color: #222;
  margin: 0;
  padding: 0;
  background-size: cover;

}

header {
  font-family: 'Lato';
  background-color: #0c0c0c;
  width: 100%;
  color: white;
  text-align: center;
  padding: 1.5rem 0;
  margin: 0px;
  
  
}

#person{
    color:white;
    height:50px;
    width: 50px;
    margin-right: 20px;
    
}

#person:hover{

  border-bottom: 5px solid red;
}

.nav{
  
  padding: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.nav li{
  margin-left: 0px;
  margin-right: 20px;
  padding: 0px;
}


.report-container {
  max-width: 900px;
  margin: 2rem auto;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 2rem;
  height: 100vh;
  
}


.info-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 2px solid #e0e0e0;
  padding-bottom: 50px;
  margin-bottom: 2rem;
}

.info-section h2 {
  width: 100%;
  color: #0c0d0d;
  margin-bottom: 0.75rem;
}

.info-section p {
  width: 48%;
  margin: 0.5rem 0;
  font-size: 1.1rem;
  color: #333;
}

.image-section {
  background-image: url("site images/input image.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  height: 60%;
  padding: 10px;
  
}


footer {
  text-align: center;
  padding: 1rem;
  background-color: #090a0a;
  color: white;
  margin-top: 2rem;
  margin: 0px;
}
