
html,body{
    margin: 0;
    padding: 0;
    background-image: url("../static/site images/websitebackground.jpg");
    background-position: center;
    background-size: contain;
    height: 100vh;
}
.nav{
  display: flex;
  background-color: rgb(0, 0, 0);
  list-style: none;
  align-items: center;
  justify-content: space-between;
  margin: 0px;
  height: 65px;
  position: sticky;
  z-index: 999;
  top: 0;
  
}

li{
  color:white;
  font-family: 'Rajdhani', sans-serif;
  font-size: 15px;
  
}
#person{
  
  color: white;
  margin-right: 40px;
  height:30px;
  width: 30px;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 100px;

}

#person:hover{
  background-color: rgb(32, 32, 32);
}

#jobdisplay{
    margin: 40px 50px; 
    background-color: rgb(255, 255, 255);
    height: 450px;
    display: flex;
    flex-direction: column;
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border: 5px solid rgba(0, 0, 0, 0.744);
    overflow-y: auto;
    scroll-behavior: smooth;
}

.jobsitems{

    display: flex;
    width: inherit;
    height: 150px;
    border: 2px solid black;
    padding: 8px;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeUp 0.5s forwards; /* run animation */
}

@keyframes fadeUp {
  0% { opacity: 0; transform: translateY(20px); }
  100% { opacity: 1; transform: translateY(0); }
}
 
#topper{
    border: none;
    height: 40px;
    position: sticky;
    top: 0px;
    background-color: rgb(255, 251, 251);
    z-index: 100;
    margin: 0;
    
}

.img{
    background-image: url("../static/site images/input\ image.jpg");
    background-position: center;
    background-size: cover;
    height: 150px;
    width: 150px;
}

.info{
    
    width: 140px;
    margin: 0px 8px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#picjob{
    border-right: .5px solid black;
    padding: 5px;
    opacity: 0;
}

.text{
    color:rgb(0, 0, 0);
    font-family: 'Rajdhani', sans-serif;
    border-radius: 20px;
    padding: 5px 10px;
    border-bottom: 2px solid black;
    
}

.label{

    font-family: 'Rajdhani', sans-serif;
    border-radius: 20px;
    padding: 5px;
    background-color: rgb(30, 133, 7,.4);
}

.ai{
    border-radius: 20px;
    padding: 5px 10px;
    background-color: rgb(143, 143, 143,.3);
}

.hour{
    border-radius: 20px;
    padding: 5px 10px;
    background-color:rgb(172, 94, 0,.2);
}

h3{
    margin: 10px;
    font-size: 25px;
    font-weight: 900;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-bottom: 2px solid black;

}
h4{
    margin: 10px;
    font-size: 25px;
    font-weight: 900;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;


}
.price{
    border-radius: 20px;
    padding: 5px;
    background-color: rgb(30, 133, 7,.2);
}

#imgop{
    opacity: 0;
}
#infop{
    opacity: 0;
}