
html,body{
    margin: 0;
    padding: 0;
    background-image: url("../static/site images/websitebackground.jpg") ;
    background-position: center;
    background-size: contain;
    height: 100vh;
}
.nav{
  display: flex;
  background-color: rgb(0, 0, 0);
  list-style: none;
  align-items: center;
  justify-content: space-between;
  margin: 0px;
  height: 65px;
  position: sticky;
  z-index: 999;
  top: 0;
  
}

li{
  color:white;
  font-family: 'Rajdhani', sans-serif;
  font-size: 15px;
  
}
#person{
  
  color: white;
  margin-right: 40px;
  height:30px;
  width: 30px;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 100px;

}

#person:hover{
  background-color: rgb(32, 32, 32);
}

#jobdisplay{
    margin: 40px 50px; 
    background-color: rgb(247, 254, 247);
    height: 450px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 5px solid black;
    overflow-y: auto;
}

.jobsitems{
    display: flex;
    width: inherit;
    height: 150px;
    border-bottom: .5px solid black;
    padding: 8px;

}

.img{
    background-image: url("../static/site images/input\ image.jpg");
    background-position: center;
    background-size: cover;
    height: 150px;
    width: 150px;
}

.info{
    
    width: 140px;
    margin: 0px 8px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#picjob{
    border-right: .5px solid black;
    padding: 5px;
    opacity: 0;
}

.text{
    color:rgb(0, 0, 0);
    font-family: 'Rajdhani', sans-serif;
    border-radius: 20px;
    padding: 5px 10px;
    
}

.label{

    font-family: 'Rajdhani', sans-serif;
    border-radius: 20px;
    padding: 5px;
    background-color: rgb(30, 133, 7,.4);
}

h3{
    margin: 10px;
    font-size: 25px;
    font-weight: 900;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.price{
    border-bottom: 1px solid green;
}

#imgop{
    opacity: 0;
}
#infop{
    opacity: 0;
}