<!DOCTYPE html>
<html>

   <head>

        <title> Contractor/loginpage.</title>
        <link rel="stylesheet" href="../static/registerpage.css">
        <link rel = "icon" href = "static\site images\logo.png">

   </head>

   <body>

    <div class = "container">
        
        <form id="loginForm">
                  
            <h2>Login - <a href = "/"> Home</a></h2>
            
            <label for="login-email">Username</label>
            <input name = "username" type="text" id="login-email" placeholder="Enter your username" required>
            
            <label for="login-password">Password</label>
            <input name = "password" type="password" id="login-password" placeholder="Enter your password" required>
            
            <button type="submit" class="btn">Login</button>
            
            <p class="switch-form">
                Don’t have an account? <a href="/registerpage.html">Create one</a>
            </p>

        </form>
        
    </div>
    <script src = "static/loginpage.js"></script>
   </body>

</html>