<!DOCTYPE html>

<html>

    <head>
        
        <title> Contrator.com</title>
        <link rel = "icon" href = "static\site images\logo.png">
        <link rel="stylesheet" href="../static/main.css.css">
        <script src="https://unpkg.com/lucide@latest"></script>
        <script src="https://cdn.jsdelivr.net/npm/countup.js@2.6.2/dist/countUp.umd.js"></script>

    </head>

    <body>

        
                <nav class = "nav">
                    
                        <ul class ="nav">

                           <li class="nav-left"><a href="Contractor Coding/reportpage.html"> <img id = "hamburg" src="site images\hamburg.jpg" alt=""></a></li>
                           <li class = "nav-center"><h1 id = "contractor">Contractor</h1></li>
                           
                            <li class = "nav-right">   
                                <a href ="/registerpage.html">
                                    <i id = "person" data-lucide ="user"></i>
                                </a>
                            </li>
                            
                        </ul>
                </nav>
                    

        <section class = "notnav">

            <div id = "left">

                <form id = "estimateform" >
                    
                    <div id = "main" class = "main">
                        <div id = "maincenter" class = "maincenter">
                            <h1 class = "stepone"> Step 1</h1>
                            <input name = "fileinput" id = "file" type="file" accept="image/*" style = "display: none;">
                            <label id = "cloudlabel" for="file"> Upload<i id = "cloudlogo" data-lucide="cloud-upload"></i></label>  
                        </div>
                    </div>
                    
                    
                    <div class= "step2">
                        <ul class = "step2">
                            <li> <h1 class = "stepone">Step 2</h1></li>
                            <li> 
                                <select name="jobsearch" id="jobsearch">
                                    <option value="" selected disabled><h1>Select Job Type</h1></option>
                                    <option value="Lawn Mowing">Lawn Mowing</option>
                                    <option value="Mulch">Mulch</option>
                                    <option value="Seeding">Seeding</option>
                                    <option value="Junk Removal">Junk Removal</option>
                                    <option value="Foliage Removal">Foliage Removal</option>
                                    <option value="Weed Whacking"> Weed Whacking</option>
                                    <option value="Overgrown Grass">Overgrown Grass</option>
                                    <option value="Bush Trimming">Bush Trimming</option>
                                    <option value="Weed Pulling"> Weed Pulling</option>
                                    <option value="Leaf Removal">Leaf Removal</option>
                                </select>
                            </li>
                            <li>
                                <input step ="any" name  = "numberinput" class ="jobsearch" type="number" id = "numberinput" placeholder="Job Time (hrs)">
                            </li>
                            
                            
                        </ul>
                    </div>  
                    
                    <div id = "submitfield" class = "step2">
                        <button id = "buttonlabel" type="submit" class = "submit"><h1 id= "sub" class = "steponenobg">Estimate</h1>
                        </button>
                        
                    </div>
                </form>
            </div>
                
            <div class = "right">
                
                <ul class = "displaystats">
                    <li class = "licla"> 
                        <h1 class="text" id  ="priceoutput">$$$</h1>
                        <img id = "moneypic" src="../static/site images/moneypic.png" alt="hi">
                    </li>

                    <li class = "licla"> 
                        <h1 class="text" id = "timeoutput">00:00</h1>
                        <div id = "c"><img id = "hourglasspic" src="../static/site images/hourglass.png" alt=""></div>
                        <a id = "rlink" href="/reportpage"><button id = "reportbutton" ><h3 class="textsh">Full Report </h3></button></a>
                    </li>

                    <li class = "licla"> 
                        <h1 class="text" id = "costoutput">$$$</h1>
                        <img id = "woodpic" src="../static/site images/wood.png" alt="hi">
                    </li>
                </ul>
            </div>    
            
        </section> 
        

        <footer style="height: 200px;"></footer>
            
        <script>
            lucide.createIcons();
        </script>
            
        <script src = "static/main.js"></script>
            
    </body>

</html>