<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Job Report</title>
  <link rel="stylesheet" href="../static/reportpage.css">
  <script src="https://unpkg.com/lucide@latest"></script>
  <script src="https://cdn.jsdelivr.net/npm/countup.js@2.6.2/dist/countUp.umd.js"></script>

</head>
<body>



  <header>
    <ul class = "nav">

      <li>
        <a href ="/">    
          <i id = "person" data-lucide ="home"></i>
        </a>
      </li>

      <li><h1>Job Report</h1></li>
      
      <li>
        <a href ="/registerpage.html">    
          <i id = "person" data-lucide ="user"></i>
        </a>
      </li>

    </ul>
  </header>

  <main class="report-container">
    
    <div class="info-section">
      
      <h2 id="job-type">Job Type: --</h2>
      <p id="job-price">Price: --</p>
      <p id="job-cost">Cost: --</p>
      <p id="time">Time: --</p>
      <p id="job-date">Date Assigned: --</p>
    </div>


    <div class="image-section">

       
    </div>
  </main>

  <footer>
    <p>&copy; 2025 Contractor Dashboard</p>
    <script>
            lucide.createIcons();
      </script>
  </footer>

</body>

<script>

    async function loadJobInfo() {

      const response = await fetch("/getinfo", { cache: "no-cache" });
      const datajson = await response.json();

      document.getElementById("job-type").textContent = `Job Type: ${datajson.jobtype}`;
      document.getElementById("job-cost").textContent = `Cost: ${datajson.cost}`;
      document.getElementById("job-price").textContent = `Price: ${datajson.price}`;
      document.getElementById("time").textContent = `Time: ${datajson.time}`;
      document.getElementById("job-date").textContent = `Date Assigned: ${new Date().toLocaleString()}`;
      
    }

    loadJobInfo();
  </script>

</html>


